@charset "utf-8";
/*월간 광명*/

*{margin:0; padding:0; }
body{font-family: "맑은 고딕"; font-size: 13px; color: #333;}
a:visited, a:active, a:link {color: #333; text-decoration: none;}
.space{clear:both;}

h1{background: #2f3; width:1080px;
  font-size: 100px; margin: 100px auto;
  text-align: center; color: #333;}

#header{width:100%; margin:0 auto;}

#contents{width:1080px;margin:0 auto;}

#menu{}
#menu li{float:left; padding:30px; list-style: none;
  text-align: center; }
#footer{margin-top: 200px;}
